.BackgroundClouds-Container {
	pointer-events: none;
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

  z-index: 1;

  svg {
		pointer-events: none;
    position: absolute;
		list-style: none;
		display: block;
		width: 30%;
		height: 30%;
		left: 0;
		
    stroke: none;
    fill: rgba(white, 0.4);

		-webkit-animation: square 25s linear infinite;
		animation:         square 25s linear infinite;
		
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
		
		&:nth-child(1){
			top: 0%;
		}
		
		&:nth-child(2){
			top: 8%;
			animation-delay: -17s;
		}

		
		&:nth-child(3){
			top: 15%;
			animation-delay: -10s;
		}
		
		&:nth-child(4){
			top: 10%;
			width: 10%;
			height: 10%;
			
			animation-duration: 22s;
			animation-delay: -13s;
			
			fill: rgba(white, 0.35);
		}
		
		&:nth-child(5){
			top: 10%;
			
			width: 15%;
			height: 15%;
			
			animation-delay: -3s;
			animation-duration: 17s;
		}
		
		&:nth-child(6){
			top: 7%;
			width: 20%;
			height: 20%;
			
			animation-delay: -15s;
			fill: rgba(white, 0.3);
		}
		
		&:nth-child(7){
			top: 2%;
			width: 15%;
			height: 15%;
			
			animation-delay: -7s;
		}
		
		&:nth-child(8){
			top: 23%;
			width: 5%;
			height: 5%;
			
			animation-delay: -15s;
			animation-duration: 40s;
		}
		
		&:nth-child(9){
			top: 17%;
			width: 5%;
			height: 5%;
			
			animation-delay: -30s;
			animation-duration: 40s;
			fill: rgba(white, 0.4);
		}
		
		&:nth-child(10){
			top: 5%;
			width: 20%;
			height: 20%;
			
			animation-delay: -5s;
		}
  }
}

@-webkit-keyframes square {
  0%   { transform: translateX(-40vw); }
  100% { transform: translateX(100vw); }
}
@keyframes square {
  0%   { transform: translateX(-40vw); }
  100% { transform: translateX(100vw); }
}